<style>
  .featured-collection-wrapper {
    --theme-color: #ff6600;
    padding: 5%;
    text-wrap: wrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .ft-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .stars {
    color: #f6c347;
    font-size: 20px;
  }

  .price {
    color: var(--theme-color);
  }
  .link {
    color: var(--theme-color);
  }

  .product-wrapper {
    display: grid;
    grid-template-columns: repeat({{section.settings.columns_desktop}}, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
  }
  .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .product-name {
    font-size: 14px;
    margin-bottom: 0;
    color: rgb(97, 97, 97);
  }

  .price {
    font-size: 18px;
    font-weight: 800;
  }

  @media screen and (max-width: 768px) {
    .product-wrapper {
      display: grid;
      grid-template-columns: repeat({{section.settings.columns_mobile}}, 1fr);
      grid-auto-rows: minmax(100px, auto);
      gap: 20px;
    }
  }
</style>

<div class="featured-collection-wrapper">
  <div class="ft-head">
    <{{ section.settings.heading_size }} class="ft-heading">
      {{ section.settings.title }}
    </{{ section.settings.heading_size }}>
    <a class="link" href="#">View all</a>
  </div>
  <div class="product-wrapper">
    {% for product in section.settings.collection.products limit: section.settings.products_to_show %}
      {% render 'product-card'| product: product %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Custom Featured",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Featured collection",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        }
      ],
      "default": "h1",
      "label": "Medium"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "Maximum products to show"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "Number of columns on desktop"
    },
    {
      "type": "header",
      "content": "Mobile Layput"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "Number of columns on mobile",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Featured"
    }
  ]
}
{% endschema %}
